body{
    font-family: "Open Sans", sans-serif;
    font-size: 62.5%;
}

h1, h2, h3{
    font-size: 2rem;
    font-family: "Lobster", cursive;
}

h2{
    color: #3046c5;
}
header h2{
    color: #cec8ff;
}

footer{
    background-image: linear-gradient(#cec8ff, white);
    padding: 2rem 0;
}

.custom-jumbo{
    padding: 3rem;
    background-image: linear-gradient(
                    to right,
                    #5637dd,
                    #3046c5,
                    #60106b);
    color: white;
}

.row-content{
    font-size: 1.4rem;
    padding: 3rem;
    border-bottom: 2px ridge;
}